  <main>



    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Adress</th>
      </tr>

      <% for ( var i = 0 ; i<usersList.length ; i++ ) { %>
      <tr>
        <td><%= usersList[i].username %></td>
        <td> <%= usersList[i].email %>  </td>
        <td><%= usersList[i].adress %>  </td>
      </tr>
      <% } %>
</table>


      <h2>Register a user</h2>



      <form action="/users" method="POST">
          <div> 
              <input type="text" name="username" placeholder="Username" required>
          </div>
          <div>
              <input type="email" name="email" placeholder="Email" required>
          </div>
          <div>
              <textarea  name="address" placeholder="Please enter your address" ></textarea>
          </div>
          <center><button>Save</button></center>
      </form>
      
  </main>